<div class="d-flex flex-column align-items-center mt-4 justify-content-center ">
    <div>
        <h2>Filtro</h2>
        <button (click)="todas()">Todas</button>
        <button (click)="completas()">Completas</button>
        <button (click)="incompletas()">Incompletas</button>
        <button (click)="eliminadas()">Eliminadas</button>
    </div>
    <h1>TODO List</h1>
    <input class="input-group-text " type="text" [(ngModel)]="item.nombre" (keyup.enter)="agregar()">
    <ul class="list-group ">
        <li  *ngFor="let item of tareas" class="list-group-item align-items-center">
            <label class="fs-2">{{item.nombre}}</label>
            <button class="btn btn-outline-danger btn-sm mx-2" (click)="borrar(item.id)">
                <img width="25" height="25" src="https://img.icons8.com/windows/32/trash.png" alt="trash"/>
            </button>
            <button class="btn btn-outline-primary" (click)="completar(item.id)">Completar</button>
        </li>
    </ul>

</div>