<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://img.icons8.com/ios/50/group-of-projects.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Ejercicios
      </a>
      <div class="align-self-center">
          <a class="px-2 link-offset-2 link-underline link-underline-opacity-0" href="...">Proyectos</a>
          <a class="px-2 link-offset-2 link-underline link-underline-opacity-0" href="...">Sobre mí</a>
          <a class="px-2 link-offset-2 link-underline link-underline-opacity-0" href="...">Perfil</a>
        </div>
    </div>
  </nav>