div{
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}