<footer class="row bg-dark-subtle fixed-bottom">
    <h3 class="offset-4 col-1 align-self-center lh-lg">Contacto:</h3>
    <div class="offset-1 col-2 d-flex justify-content-between align-self-center ">
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/linkedin.png" alt="linkedin"/>
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/mail--v1.png" alt="mail--v1"/>
        <img width="48" height="48" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram-new"/>
    </div>
</footer>